{% extends 'base.html' %}

{% block title %}
    iTrade - home Page
{% endblock title %}

{% block navbar %}
        <a class="nav-link ml-0" href="{% url 'create_post' %}"> +Create Post</a>
        <a class="nav-link ml-0" href="{% url 'my_post' %}">My Posted items</a>
        <a class="nav-link ml-0" href="{% url 'logout' %}">Logout</a>
        <form class="form-inline my-2 my-lg-0" method="GET">
              {% csrf_token %}
              <input class="form-control mr-sm-2" type="text" name="index_search" placeholder="search items" aria-label="Search" value="{{ request.GET.index_search }}">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
{%endblock navbar %}

{% block content %}

<div class="col-md-12">
    <!---error message-->
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p style="text-align:center;padding:5px;"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <!---error message-->
<h1 class="text-center mb-4 mt-5">All Posted Items</h1><hr>
</div>

{% for p in post %}

    <div class="col-md-3 mt-3 mb-3">
        <div class="card" style="width: 18rem;">
            <a href="{% url 'single_post' id=p.id %}"><img style="height:240px;" src="{{ p.product_image.url }}" class="card-img-top" alt="image"></a>
          <div class="card-body">
            <h5 class="card-title text-center" style="overflow:hidden;height: 45px;!important"><a href="{% url 'single_post' id=p.id %}">{{ p.product_name }}</a></h5>
            <p class="card-text text-justify" style="height:47px;overflow:hidden;">{{ p.product_description }}</p>
            <h6 class="card-text text-center">Minimum Bid: {{ p.product_price }} bdt </h6>
            <p class="card-text text-center"><small class="text-muted">Post's EOD: {{ p.end_date|date:"M j, Y" }}</small></p>
            <p class="card-text text-center" style="margin-top:-22px;"><small class="text-muted">Publisher: {{ p.publisher_name.username }}</small></p>
          </div>
        </div>
    </div>

{% endfor %}

<div class="col-md-2 offset-5">
    <div class="pagination">
            <span class="step-links">
                {% if post.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ post.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ post.number }} of {{ post.paginator.num_pages }}
                </span>

                {% if post.has_next %}
                    <a href="?page={{ post.next_page_number }}">next</a>
                    <a href="?page={{ post.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
</div>


{% endblock content %}


{% block footer %}
    <footer style="text-align:center;padding: 35px 0px 8px 0px!important;">
        <p><small>&copy; 2021 iTrade. All Rights Reserved </small></p>
  </footer>
{% endblock footer %}

